{% extends 'base.html' %}
{% block content %}

<h1>Login</h1>
<div class="container p-0 m-0">
    <div class="row">
        <div class="col col-auto p-0 m-0">
            <form id="login" method="POST" action="{% url 'login' %}">
                <div>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" name="next" value="{{ next }}">
                    <button type="submit" class="btn btn-primary">Log In</button>
                </div>
            </form>
        </div>
        <div class="col">

        </div>
    </div>
</div>



{% endblock %}