{% extends 'base.html' %}
{% load json static %}

{% block extra_head %}
<script defer>
    const locations_j = JSON.parse(JSON.parse('{{ locations_json|escapejs_json }}'));
    const names = JSON.parse('{{ names|escapejs_json }}');
</script>
<script defer src="{% static 'js/compare.js' %}"></script>
{% endblock extra_head %}

{% block title %}
Compare Locations
{% endblock title %}

{% block content %}
<h1 class="text-center">Compare Locations</h1>
<div class="container my-5">
    <div class="d-flex justify-content-between">

        <!-- Left Side -->
        <div class="d-flex flex-column flex-grow-1 mr-2">
            <select id="left-location-select" class="form-control mb-4 text-center">
                <option value="" selected disabled>Select a location</option>
                {% for location in locations %}
                    <option value="{{ location.pk }}">{{ location.name }}</option>
                {% endfor %}
            </select>

            <table class="table">
                <tbody id="left-location-data">
                    <!-- Data will be populated here -->
                </tbody>
            </table>
        </div>

        <!-- Right Side -->
        <div class="d-flex flex-column flex-grow-1 ml-2">
            <select id="right-location-select" class="form-control mb-4 text-center">
                <option value="" selected disabled>Select a location</option>
                {% for location in locations %}
                    <option value="{{ location.pk }}">{{ location.name }}</option>
                {% endfor %}
            </select>

            <table class="table">
                <tbody id="right-location-data">
                    <!-- Data will be populated here -->
                </tbody>
            </table>
        </div>

    </div>
</div>

{% endblock %}