{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container d-flex flex-column align-items-center">
    <div class="home-top pb-3 text-center">
        <img src="{% static 'img/rightspot_dark.png' %}" alt="RightSpot logo" class="">
        <span id="site-title" class="fs-1">
            RightSpot
        </span>
    </div>
    <div class="row">
        <h3 class="fw-light text-center" style="letter-spacing: 2px;">Your premier service to gather data</h3>
    </div>
    <div class="row d-flex flex-column">
        <div class="bg-secondary text-white text-center py-3 px-5 my-5 shadow rounded d-flex flex-column justify-content-center align-items-center">
            <h4 class="mt-3 fw-bold">Show Me Data</h4>
            <p>
                Search by location your desired spot & view detailed statistics to help you make your decision
            </p>
            <form id="normal-search" class="" action="/locations/" method="GET">
                <span class="input-group full-width">
                    <input type="text" id="location_search" name="location_search" class="" placeholder="Enter a location...">
                    <button type="submit" class="btn btn-accent text-white fw-bold px-3"><i class="bi bi-search"></i></button>
                </span>
            </form>
            <form id="what3-search" class="mt-4" action="" method="GET">
                <span class="input-group justify-content-center">
                    <div class="input-group-prepend">
                        <span class="input-group-text">or use what3words (optional) </span>
                    </div>
                    <div class="input-group justify-content-center">
                        <input type="text" id="w3w_1" name="w3w_1" class="" placeholder="">
                        <input type="text" id="w3w_2" name="w3w_2" class="" placeholder="">
                        <input type="text" id="w3w_3" name="w3w_3" class="" placeholder="">
                        <button type="submit" class="btn btn-accent text-white fw-bold px-3"><i class="bi bi-search"></i></button>
                    </div>
                </span>
            </form>
            <form id="what3-auto" class="mt-4" action="/locations/" method="GET">
                <div class="input-group d-flex align-items-stretch justify-content-center">
                    <div class="input-group-prepend">
                        <span class="input-group-text h-100">or use what3words (optional) </span>
                    </div>
                    <div>
                        <what3words-autosuggest api_key="V6JXIJXC">
                            <input type="text" />
                        </what3words-autosuggest>
                    </div>   
                    <div>
                        <button type="submit" class="btn btn-accent text-white fw-bold px-3 h-100"><i class="bi bi-search"></i></button>
                    </div>                 
                </div>
            </form>
        </div>
    </div>

    <script type="module" src="https://cdn.what3words.com/javascript-components@4-latest/dist/what3words/what3words.esm.js"></script>
    <script nomodule src="https://cdn.what3words.com/javascript-components@4-latest/dist/what3words/what3words.js"></script>




    <form id="search-form" action="/location" method="GET" onsubmit="return submitForm();">
        <div class="form-group d-flex align-items-center gap-1">
            <input type="text" id="location_name" name="location_name" placeholder="Enter location name">
            <button type="submit" class="btn btn-outline-secondary btn-sm">Go!</button>
        </div>
    </form>
    <script>
        function submitForm() {
            const locationName = document.getElementById("location_name").value;
            const form = document.getElementById("search-form");
            form.action = "/locations/" + locationName + "/";
            return true;
        }
    </script>
</div></div>
{% endblock %}