{% extends 'base.html' %}

{% block title %}
Privacy Policy
{% endblock title %}

{% block content %}

<div class="d-flex flex-column align-items-center my-3">
    <div class="row projects-top pb-3 text-center mb-1">
        <h1 id="" class="text-primary letter-spacing-1">
            Privacy Policy
        </h1>
    </div>
    <div class="row w-100 max-width-700 bg-light rounded p-4">
        <p class="text-muted text-right">Last updated: 27th June 2023</p>

        <p>RightSpot ("we", "us", "our") respects the privacy of its users ("user", "you", "your") and is committed to protecting it through this Privacy Policy. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you use our application, website, services, and products ("Services").</p>

        <p>By using our Services, you consent to the collection, use, and disclosure of your Personal Information as outlined in this Privacy Policy. If you do not agree with the terms of this Privacy Policy, please do not access or use our Services.</p>

        <h2 class="letter-spacing-1 my-3">1. Information We Collect</h2>

        <h3>Personal Information</h3>
        <p>We collect personal information that you voluntarily provide to us when you create an account, which currently includes your email address. We may use this information to communicate with you, such as to send you email messages.</p>

        <h3>Non-Personal Information</h3>
        <p>We may also collect non-personal information, such as details of your visits to our Services, which may include traffic data, location data, logs, and other communication data.</p>

        <h2 class="letter-spacing-1 my-3">2. Use of Your Information</h2>
        <p>We may use the information collected in various ways, including to:</p>
        <div class="px-3">
            <ul>
                <li>Provide and maintain our Services.</li>
                <li>Communicate with you, including responding to your comments, questions, and requests.</li>
                <li>Monitor and analyze usage and trends to improve your experience with our Services.</li>
                <li>Send administrative information, such as policy updates.</li>
            </ul>
        </div>

        <h2 class="letter-spacing-1 my-3">3. Protecting Your Information</h2>
        <p>We use administrative, technical, and physical security measures to protect your personal information. While we strive to protect your personal information, we cannot guarantee its absolute security.</p>

        <h2 class="letter-spacing-1 my-3">4. Your Choices</h2>
        <p>You may review, change, or remove your personal information by logging into your account and visiting your account settings page. You may also delete your account, which removes all associated data.</p>

        <h2 class="letter-spacing-1 my-3">5. Disclosure of Your Information</h2>
        <p>We do not sell, trade, or otherwise transfer to outside parties your personal information.</p>

        <h2 class="letter-spacing-1 my-3">6. Changes to This Privacy Policy</h2>
        <p>We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. Changes to this Privacy Policy are effective when they are posted on this page.</p>

        <h2 class="letter-spacing-1 my-3">7. Contact Us</h2>
        <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact by <a href="mailto:manny@dinssa.com" class="link-primary link-underline link-offset-2 link-offset-3-hover">email</a>.</p>
    </div>
</div>


{% endblock %}
