{% extends 'base.html' %}

{% block title %}
Account Settings
{% endblock title %}

{% block content %}

<div class="d-flex flex-column align-items-center my-3">
    <div class="row projects-top pb-3 text-center mb-1">
        <h1 id="" class="text-primary">
            Account Settings
        </h1>
    </div>
    <div>
        
    </div>
    <div class="row w-100 max-width-1000 bg-light rounded">
        <div class="d-flex align-items-start p-0">
            <div class="nav flex-column nav-pills m-3 " id="settings-tab">
                <button class="nav-link settings-tab active rounded-0" id="profile-tab"  data-target="#profile" type="button">Profile</button>
                <button class="nav-link settings-tab rounded-0" id="password-tab"  data-target="#password" type="button">Password</button>
                <button class="nav-link settings-tab rounded-0" id="advanced-tab"  data-target="#advanced" type="button">Advanced</button>
            </div>
            <div class="tab-content m-4 mb-5 w-100">
                <div class="tab-pane fade show active" id="profile">
                    <div class="mb-1">
                        <p class="fs-3 fw-bold">Profile</p>
                        <p class="fs-6">Update your profile information</p>
                    </div>
                    <div class="">
                        <form id="profile-settings" class="pt-2 ps-1" method="POST">
                            <input type="hidden" name="form_id" value="profile-settings">
                            <div class="d-flex flex-column justify-content-center">
                                {% csrf_token %}
                                {% for field in edit_user_form %}
                                <p>
                                    <span class="profile-label">{{ field.label_tag }}</span>
                                    {{ field }}
                                    <div>
                                      {% if field.help_text %}
                                      <small class="text-dark d-block">{{ field.help_text }}</small>
                                      {% endif %}
                                    </div>
                                    {% for error in field.errors %}
                                      <p class="text-danger">{{ error }}</p>
                                    {% endfor %}
                                </p>
                                {% endfor %}
                                <button type="submit" class="btn btn-outline-accent py-2 px-4 mt-3 me-2 fw-bold align-self-end text-dark letter-spacing-2">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
              <div class="tab-pane fade" id="password">
                <div class="mb-1">
                    <p class="fs-3 fw-bold">Password</p>
                    <p class="fs-6">Update your password</p>
                </div>
                <div>
                    <form id="password-settings" class="pt-2 ps-1" method="POST">
                        <input type="hidden" name="form_id" value="password-settings">
                        <div class="d-flex flex-column justify-content-center">
                            {% csrf_token %}
                            {% for field in password_change_form %}
                            <p>
                            <span class="password-label">{{ field.label_tag }}</span>
                            {{ field }}
                            <div>
                                {% if field.help_text %}
                                <small class="text-dark d-block">{{ field.help_text }}</small>
                                {% endif %}
                            </div>
                            {% for error in field.errors %}
                            <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                            </p>
                            {% endfor %}
                            <button type="submit" class="btn btn-outline-accent py-2 px-4 mt-3 me-2 fw-bold align-self-end text-dark letter-spacing-2">Update</button>
                        </div>
                      </form>
                </div>
              </div>
              <div class="tab-pane fade" id="advanced">
                <div class="mb-1">
                    <p class="fs-3 fw-bold">Advanced</p>
                </div>
                <div class="row">
                    <div class="col d-flex align-items-center">
                        <span>Delete your account?</span>
                    </div>
                    <div class="col-auto d-flex align-items-center justify-content-center">
                        <button id="delete-account-btn" class="btn btn-danger fw-bold py-2 px-4 mt-3 me-2 letter-spacing-2" data-toggle="modal" data-target="#deleteAccountModal">
                            Delete
                        </button>
                    </div>                    
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-primary text-white p-3 text-center">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAccountModalLabel">Delete Account</h5>
                <button type="button" class="close btn btn-sm btn-danger" data-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x"></i>
                </button>
            </div>
            <div>
                <p class="fs-3">Are you sure?</p>
                <p>This action cannot be undone.</p>
                <p>All projects will be deleted.</p>
            </div>
            <form id="delete-account" class="pb-3" method="POST">
                {% csrf_token %}
                <input type="hidden" name="form_id" value="delete-account">
                <button type="submit" class="btn btn-danger py-2 px-4 mt-3 me-2 fw-bold letter-spacing-2">Confirm</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block body_bottom %}
<script>
    const tabs = document.querySelectorAll('.settings-tab');
    const tabContent = document.querySelectorAll('.tab-pane');
    const currentTab = "{{ tab }}";

    if (currentTab === "#password") {
        tabs[1].classList.add('active');
        tabContent[1].classList.add('show', 'active');
        tabs[0].classList.remove('active');
        tabContent[0].classList.remove('show', 'active');
    } else {
        tabs[0].classList.add('active');
        tabContent[0].classList.add('show', 'active');
        tabs[1].classList.remove('active');
        tabContent[1].classList.remove('show', 'active');
    }

    tabs.forEach(tab => {
        tab.addEventListener('click', () => {
            tabs.forEach(item => item.classList.remove('active'));
            tab.classList.add('active');
            const target = tab.dataset.target;
            tabContent.forEach(tab => tab.classList.remove('show', 'active'));
            document.querySelector(target).classList.add('show', 'active');
        });
    });
</script>

<script defer>
    const formLabels = document.querySelectorAll('.password-label > label , .profile-label > label');
    formLabels.forEach((label, index) => {
        label.innerHTML = label.textContent.slice(0, -1);
    })
</script>

{% endblock body_bottom %}