{% extends 'base.html' %}

{% block title %}
Terms of Service
{% endblock title %}

{% block content %}

<div class="d-flex flex-column align-items-center my-3">
    <div class="row projects-top pb-3 text-center mb-1">
        <h1 id="" class="text-primary letter-spacing-1">
            Terms of Service
        </h1>
    </div>
    <div class="row w-100 max-width-700 bg-light rounded p-4">
        <p class="text-muted text-right">Last updated: 27th June 2023</p>

        <h2 class="letter-spacing-1 my-3">1. Acceptance of Terms</h2>

        <p>Welcome to RightSpot. The following Terms of Service ("Terms") are a legal agreement between you ("user", "you", "your") and RightSpot, ("we", "us", "our"), which governs your use of our application, website, services, and products ("Services").</p>

        <p>By accessing or using the services in any manner, you agree to be bound by these Terms. Please read them carefully. If you do not agree with any part of these Terms, you must not access or use our Services.</p>

        <h2 class="letter-spacing-1 my-3">2. Changes to Terms</h2>
        <p>We reserve the right to modify or update these Terms at any time for any reason, without notice to you. Your continued use of the Services after any such changes constitutes your acceptance of the new Terms.</p>

        <h2 class="letter-spacing-1 my-3">3. User Conduct</h2>
        <p>You agree not to use the Services for any illegal or unauthorized purpose. You agree to comply with all laws, rules, and regulations applicable to your use of the Services.</p>

        <h2 class="letter-spacing-1 my-3">4. Data and Content</h2>
        <p>Our Services allow you to view and compare data from various sources. While we strive to provide accurate and up-to-date data, we make no guarantees regarding the accuracy, reliability, or completeness of any information provided through the Services. The data provided is for general information purposes only and should not be relied upon for making business, legal, or other decisions.</p>

        <h2 class="letter-spacing-1 my-3">5. Intellectual Property</h2>
        <p>All content, features, and functionality of the Services are the exclusive property of RightSpot and its licensors. You are granted a limited, non-exclusive, non-transferable license to access and use the Services for personal, non-commercial purposes. You may not reproduce, distribute, or create derivative works based on the Services without explicit written consent from us.</p>

        <h2 class="letter-spacing-1 my-3">6. Third-Party Services</h2>
        <p>Our Services may contain links to third-party websites or services that are not owned or controlled by RightSpot. We have no control over, and assume no responsibility for, the content, privacy policies, or practices of any third-party websites or services. You acknowledge and agree that we shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods, or services available on or through any such websites or services.</p>

        <h2 class="letter-spacing-1 my-3">7. Limitation of Liability</h2>
        <p>In no event shall RightSpot, nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for any indirect, incidental, special, consequential or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses, resulting from (a) your access to or use of or inability to access or use the Services; (b) any conduct or content of any third party on the Services; (c) any content obtained from the Services; and (d) unauthorized access, use, or alteration of your transmissions or content, whether based on warranty, contract, tort (including negligence) or any other legal theory, whether or not we have been informed of the possibility of such damage, and even if a remedy set forth herein is found to have failed its essential purpose.</p>

        <h2 class="letter-spacing-1 my-3">8. Indemnification</h2>
        <p>You agree to defend, indemnify and hold harmless RightSpot and its licensee and licensors, and their employees, contractors, agents, officers, and directors, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney's fees), resulting from or arising out of a) your use and access of the Services, or b) a breach of these Terms.</p>

        <h2 class="letter-spacing-1 my-3">9. Governing Law</h2>
        <p>These Terms shall be governed and construed in accordance with the laws of the United Kingdom, without regard to its conflict of law provisions.</p>
        
        <h2 class="letter-spacing-1 my-3">7. Contact Us</h2>
        <p>If you have any questions or suggestions about these Terms, please contact us by <a href="mailto:manny@dinssa.com" class="link-primary link-underline link-offset-2 link-offset-3-hover">email</a>.</p>
    </div>
</div>

{% endblock %}