{% extends 'base.html' %}
{% load getvalue %}
{% block content %}

<!-- stats is a json object, with stats['data'] holding the data, separated by year -->
<div class="d-flex flex-column">
    <div class="d-flex flex-row justify-content-between">
    <h2>Address</h2>
    <button id="save-btn" class="btn btn-sm btn-outline-accent">SAVE</button>
    </div>
    <div class="map my-3 d-flex justify-content-center align-items-center">MAP</div>
    <div class="d-flex flex-column">
        {% if stats and stats.data %}
        <div>
            <h2>District-level statistics - {{ stats.data.0.district }} </h2>
            <p>Data provided by the Office for National Statistics</p>
        </div>
        <table class="table-striped">
            <thead>
                <tr>
                    <th class="variable-name">Indicator</th>
                    {% for year in stats.data %}
                        <th>{{ year.date }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <!-- Demographics Section -->
                <tr>
                    <td colspan="{{ stats.data|length|add:1 }}" class="table-subheading">Demographics</td>
                </tr>
                {% for key in demographics %}
                    <tr>
                        <td class="first-column">{{ names|getvalue:key }}</td>
                        {% for year in stats.data %}
                            <td class="value-cell">{{ year|getvalue:key }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}

                <!-- Socioeconomics Section -->
                <tr>
                    <td colspan="{{ stats.data|length|add:1 }}" class="table-subheading">Socioeconomics</td>
                </tr>
                {% for key in socioeconomics %}
                    <tr>
                        <td class="first-column">{{ names|getvalue:key }}</td>
                        {% for year in stats.data %}
                            <td class="value-cell">{{ year|getvalue:key }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}

                <!-- Industry Section -->
                <tr>
                    <td colspan="{{ stats.data|length|add:1 }}" class="table-subheading">Industry</td>
                </tr>
                {% for key in industry %}
                    <tr>
                        <td class="first-column">{{ names|getvalue:key }}</td>
                        {% for year in stats.data %}
                            <td class="value-cell">{{ year|getvalue:key }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}