{% extends 'base.html' %}
{% load getvalue %}
{% block content %}

<!-- stats is a json object, with stats['data'] holding the data, separated by year -->

<div class="d-flex flex-column">
    <h1>Address</h1>
    <div class="map mb-3 d-flex justify-content-center align-items-center">MAP</div>
    <div class="d-flex flex-column">
        <div>
            <h1>District-level statistics - {{ stats.data.0.district }} </h1>
            <p>Data provided by the Office for National Statistics</p>
        </div>
        <h2>Demographics</h2>
        <!-- {% for key in demographics %}
            <p>{{ key }}</p>
            {% for year in stats.data %}
            <p>{{ year.date }} : {{ year|getvalue:key }}</p>
            {% endfor %}
        {% endfor %}    -->
        <table class="table-striped">
            <thead>
                <tr>
                    <th>Indicator</th>
                    {% for year in stats.data %}
                        <th>{{ year.date }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for key in demographics %}
                    <tr>
                        <td>{{ key }}</td>
                        {% for year in stats.data %}
                            <td>{{ year|getvalue:key }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table-striped">
            <thead>
            <tr>
                <th scope="col">Variable</th>
                {% for year in stats.data %}
                <th scope="col">{{ year.date }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody> 
                <tr>
                    <td></td>
                    <td></td>
                    <td>Value</td>
                    <td>Value</td>
                    <td>Value</td>
                    <td>Value</td>
                    <td>Value</td>
                    <td>Value</td>
                    <td>Value</td>
                    <td>Value</td>
                    <td>Value</td>
                </tr>
            </tbody>
        </table>
        <h2>Socioeconomics</h2>
        <table class="table-striped">
            <thead>
            <tr>
                <th scope="col">Variable</th>
                {% for year in stats.data %}
                <th scope="col">{{ year.date }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody> 
                <tr>
                    <td>Variable Y</td>
                    <td>Value</td>
                    <td>Value</td>
                    <td>Value</td>
                    <td>Value</td>
                    <td>Value</td>
                    <td>Value</td>
                    <td>Value</td>
                    <td>Value</td>
                    <td>Value</td>
                    <td>Value</td>
                </tr>
            </tbody>
        </table>
        <h2>Industry</h2>
        <table class="table-striped">
            <thead>
            <tr>
                <th scope="col">Variable</th>
                {% for year in stats.data %}
                <th scope="col">{{ year.date }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody> 
                <tr>
                    <td>Variable Y</td>
                    <td>Value</td>
                    <td>Value</td>
                    <td>Value</td>
                    <td>Value</td>
                    <td>Value</td>
                    <td>Value</td>
                    <td>Value</td>
                    <td>Value</td>
                    <td>Value</td>
                    <td>Value</td>
                </tr>
            </tbody>
        </table>    
    </div>
</div>

{% endblock %}