{% extends 'base.html' %}

{% block title %}
Starred Locations
{% endblock title %}

{% block content %}

<div class="d-flex flex-column align-items-center my-3">
    <div class="row starred-top pb-3 text-center mb-1">
        <h1 id="" class="text-primary">
            Starred locations
        </h1>
    </div>
    <div class="row w-100 max-width-1000 mb-5">
        <div class="col bg-primary mx-4 my-2 p-4 text-white text-center rounded">
            {% if not user_locations %}
                <p class="fs-5 fw-bold">Do you have a great idea for a business?</p>
                <p class="fs-6">Are you looking for information about potential locations?</p>
                <p class="fs-6">Find the perfect spot with our location intelligence tool!</p>
            {% else %}
                <p class="fs-5 fw-bold">You've starred <span class="text-secondary fs-2">{{ user_locations|length }}</span>{% if user_locations|length == 1 %} location{% else %} locations{% endif %}</p>
            {% endif %}
                <a href="{% url 'home'%}" class="btn btn-accent fw-bold mt-2">
                    Search
                </a>
        </div>
    </div>
    <div class="row d-flex flex-row w-100 max-width-1000">
        {% for location in user_locations %}
            <div class="starred-item row gap-2 p-4 ms-1" >
                <div class="col">
                    <div class="row">
                        <h4>{{ location.name }}</h4>
                    </div>
                    <div class="row">
                        <small class="text-muted">{{ location.description }}</small>
                    </div>
                </div>
                <div class="col-auto d-flex align-items-center">
                    <a href="{% url 'saved_location_detail' location.id %}" class="btn btn-radius btn-secondary mx-2">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="{% url 'location_update' location.pk %}?next={{ request.path }}" class="btn btn-radius btn-accent mx-2 text-white">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    <a href="{% url 'location_delete' location.pk %}?next={{ request.path }}" class="btn btn-radius btn-danger mx-2">
                        <i class="bi bi-trash3"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}