// node-sass --output-style compressed main_app/static/scss/external.scss > main_app/static/css/external.css


$theme-colors: (
  "primary": #14213D,
  "secondary": #36827F,
  "accent": #C89933,
  "ivory": #F5F1ED,
  "success": #28A745,
  "info": #4983b4,
  "warning": #e88820,
  "danger": #d22937,
  "light": #e7e7e7,
  "dark": #343A40
);

$btn-border-radius: 0;
$input-border-radius: 0;

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

